<div class="row p-5">
  <div class="offset-2 col-8 offset-2" [formGroup]="registrForm">
    <h1 *ngIf="false">{{!registrForm.invalid}}</h1>

    <mat-form-field class="col" appearance="outline">
      <mat-label>Имя пользователя</mat-label>
      <input matInput type="text" class="input-text" formControlName="login">
      <mat-error *ngIf="registrForm.controls['login'].hasError('required')">Обязательное поле</mat-error>
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input matInput type="text" class="input-text" formControlName="last_name">
      <mat-error *ngIf="registrForm.controls['last_name'].hasError('required')">Обязательное поле</mat-error>
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput type="text" class="input-text" formControlName="first_name">
      <mat-error *ngIf="registrForm.controls['first_name'].hasError('required')">Обязательное поле</mat-error>
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>Отчество</mat-label>
      <input matInput type="text" class="input-text" formControlName="middle_name">
      <mat-error *ngIf="registrForm.controls['middle_name'].hasError('required')">Обязательное поле</mat-error>
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput type="text" autocomplete="off" class="input-text" formControlName="email" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
      <mat-error *ngIf="registrForm.controls['email'].hasError('required')">Не пизди!!! Как связатса потом?</mat-error>
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>Парол</mat-label>
      <input type="password" matInput class="input-text" formControlName="password">
      <mat-error *ngIf="registrForm.controls['middle_name'].hasError('required')">Обязательное поле</mat-error>
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>Подтверждение пароля</mat-label>
      <input matInput type="password" class="input-text" formControlName="confirm">
      <mat-error *ngIf="registrForm.controls['confirm'].hasError('required')">Обязательное поле</mat-error>
    </mat-form-field>

    <div class="col d-flex justify-content-center align-items-center">
      <button [disabled]="registrForm.invalid" class="btn btn-primary w-50" (click)="register()">Зарегистрироваться</button>
      <a href="" class="d-flex w-50 justify-content-center align-items-center">Войти</a>
    </div>
  </div>
</div>
