<div class="w-100 d-flex flex-column h-100">
  <mat-toolbar color="primary" class="d-flex justify-content-between">
    <span>DL FORUM - Example</span>
    <div>
      <button (click)="navigate('main',true)" matRipple class="btn-example mx-2">
        <mat-icon>home</mat-icon>
        <span class="px-2">Главная</span>
      </button>
      <button (click)="navigate('admin',true)" matRipple class="btn-example mr-2">
        <mat-icon>settings</mat-icon>
        <span class="px-2">Администрирование</span>
      </button>
      <button (click)="navigate('auth', true)" matRipple class="btn-example">
        <mat-icon>lock</mat-icon>
        <span class="px-2">Авторизация</span>
      </button>
    </div>
  </mat-toolbar>
  <h1 *ngIf="info$ | async as info">
    <li *ngFor="let post of info">
      <p>{{post.id}} | {{post.title}} | {{post.user_id}}</p>
    </li>
  </h1>
</div>